/* styles/AddDestinationStyles.css */

@import url('../styles/base.css');

/* Add Destination Form Styles */
.add-destination-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-destination-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

